*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    position: fixed;
    width: 33%;
    height: 100vh;
    background-image: url(/img/home.jpg);
    background-size: 100% 100%;
}
.fixed img{
    width: 75%;
    height: 100%;
    margin-top: 45%;
    margin-left: 12%;
}
.col-md-8 textarea{
    height: 200px;
}
.col-md-8 input{
    height: 50px;
}
@media only screen and (max-width:768px){
    #header{
        position: relative;
        width: 100%;
        height: 100vh;
    }
}